.sticky-top {
  transition: 0.5s;
  background: white;
}
.navbar .navbar-nav .nav-link {
  padding: 0px 15px;
  font-family: 'Petit Formal Script', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 16px;
  transition: .5s;
  color: white;
  
  
}
.logo a {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
}
.logo a em {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-style: normal;
  color: #f5a425;
  font-size: 40px;
}
.logo{
  padding-left: 30px;
}
.navbar{
  background-color: rgba(22,34,57,0.95);
  
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active,
.sticky-top.bg-white .navbar .navbar-nav .nav-link:hover,
.sticky-top.bg-white .navbar .navbar-nav .nav-link.active {
  color:  #f5a425;
}

@media (min-width: 1200px) {
  .navbar .navbar-collapse .border-top {
      border-top: none !important;
  }
}
